{#
/**
 * Template: Base Layout
 * Description: Main layout template with header, main content area, and footer
 * Context: site, post, body_class
 */
#}

<!DOCTYPE html>
<html {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ function('wp_head') }}
  </head>

  <body
    class="{{ body_class }} bg-neutral-50 text-neutral-900 antialiased selection:bg-neutral-900 selection:text-neutral-50"
    style="font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial;"
  >
    {{ function('wp_body_open') }}

    {% include 'partials/header.twig' %}

    <main>
      {% block content %}
        {# Page content will be inserted here #}
      {% endblock %}
    </main>

    {% include 'partials/footer.twig' %}

    {{ function('wp_footer') }}
  </body>
</html>
